* {
    background-color: rgb(53, 53, 53);
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

p, h1, h3 {
    font-family: "Comic Neue", cursive;
    color: white;
}

#main {
    text-align: center;
}

#item {
    text-align: center;
    padding-bottom: 16px;
}

img {
    height: 120px;
    width: 120px;
    border-radius: 5px;
}

#playlists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}